<footer class="c-footer l-footer l-main-footer">
  <div class="row l-footer__row">
    <div class="col-sm-6 l-footer__col">
      <div class="footer__credits">
        <div class="col-xs-4 l-footer__col footer__credit">
          <spam class="footer__credit-title">Design</spam>: Daniel Caldeira
        </div>
        <div class="col-xs-6 l-footer__col footer__credit">
          <spam class="footer__credit-title">Desenvolvimento</spam>: Miguel Costa
        </div>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="/scripts/bundle.js" charset="utf-8"></script>
