<footer class="c-footer l-footer l-main-footer">
  <div class="row l-footer__row">
    <div class="col-xs-2 l-footer__col">
      Design: Daniel Caldeira
    </div>
    <div class="col-xs-3 l-header__col">
      Desenvolvimento: Miguel Costa
    </div>
  </div>
</footer>

<script type="text/javascript" src="/scripts/bundle.js" charset="utf-8"></script>
