<div class="l-highlight l-highlight--secondary">
  <div class="c-highlight__cover">
    <div class="c-highlight__cover__content">
      <h2 class="c-highlight__cover__title">Title</h2>
      <h4 class="c-highlight__cover__subtitle">Subtitle</h4>
      <hr class="c-highlight__cover__line"></hr>
    </div>
  </div>
  <img class="c-highlight__image" src="http://lorempixel.com/400/250" alt="" />
</div>
