body {
  font-family: "Montserrat", sans-serif;
  background: $gray;
  color: $black;
  font-size: 16px;
}

a {
  color: $font-color-default;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &:visited {
    color: inherit;
  }
}
