body {
  font-family: "Montserrat", sans-serif;
  background: $gray;
  color: $black;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: $font-color-default;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &:visited {
    color: inherit;
  }
}
