$visor-width: 15px;

.c-visor, .c-frame {
  border: $visor-width solid $white;
  transition: background-color ease-in 500ms;
}

.c-highlight {
  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
  &__primary {
    min-height: 320px;
  }
}


.c-header {
  &__logo-name {
    height: 100%;
    &__content {
      display: table-cell;
      vertical-align: bottom;
    }
  }
}

.c-highlight__cover {
  display: block;
  position: absolute;
  top: 0;
  left: 0; right: 0; bottom: 0;

  border: 10px solid $white;

  background: rgba(0,0,0, 0.9 );
  color: $white;
  text-align: center;
  opacity:0;

  &:hover {
    opacity: 1;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &__title {
    font-size: $font-size-largest;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: $font-size-larger;
    text-transform: uppercase;
  }

  &__title, &__subtitle {
    text-transform: uppercase;
  }

  &__line {
    margin: $font-size-largest 0;
  }
}
