.menu-list {
  list-style-type: none;

  font-size: 18px;

  &__item {
    float: right;
    text-transform: uppercase;
  }
}

.c-header__menu {

  &--languages {
    .menu-list__item.has-separator::after {
      content:"|";
      position: absolute;
      right: -25%;
    }
  }

  &--pages {
    padding-top: 30px;
  }
}
