.menu-list {
  list-style-type: none;

  font-size: 18px;

  &__item {
    /* float: right; */
    text-transform: uppercase;

    &:hover {
      color: $red;
      &::after {
        color: $black;
      }
    }
  }
}

.c-header__menu {
  text-align: center;

  &--languages {
    .menu-list__item.has-separator::after {
      content:"|";
      position: absolute;
      right: -5%;
    }
  }
  &--pages {
    padding-top: 30px;
  }
}
