$font-size-smaller: 14px;
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;
$font-size-larger: 26px;
$font-size-largest: 40px;

$font-size-header: $font-size-medium;
$font-size-header-logo: $font-size-larger;
$font-size-text: $font-size-small;
