<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <div class="l-frame c-visor">
    <div class="l-main-content">
      <div class="container" id="main-app">

      </div>
      <script type="text/javascript" src="/scripts/bundle.js" charset="utf-8"></script>
    </div>
  </div>
</body>
</html>
