<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="l-frame c-visor">
    <div class="l-main-content">
      <div class="container">
        <header class="c-header l-header">
          <div class="row l-header__row">
            <div class="col-xs-1 l-header__col">
              <img src="http://lorempixel.com/100/100" alt="" class="c-header__logo">
            </div>
            <div class="col-xs-3 l-header__col">
              <div class="l-header__logo-name">
                <p class="l-header__logo-name__content">
                  <b>Daniel Caldeira</b>
                  <br />
                  <span>designer gráfico</span>
                </p>
              </div>
            </div>
            <div class="col-xs-8 l-header__col pull-right">
              <div class="l-header__menu">
                <div class="row l-header__row">
                  <nav class="c-header__menu">
                    <ul class="c-header__menu-list">
                      <li class="c-header__menu-item">PT</li>
                      <li class="c-header__menu-item">EN</li>
                    </ul>
                  </nav>
                </div>
                <div class="c-header__menu">
                  <ul class="c-header__menu-list">
                    <li class="c-header__menu-item"></li>
                    <li class="c-header__menu-item"></li>
                    <li class="c-header__menu-item"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="row">
          <div class="col-xs-12">
            <div class="l-highlight l-highlight--primary">
              <img class="c-highlight__image" src="http://lorempixel.com/1110/480" alt="" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="l-highlight l-highlight--secondary">
              <img class="c-highlight__image" src="http://lorempixel.com/400/250" alt="" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="l-highlight l-highlight--secondary">
              <img class="c-highlight__image" src="http://lorempixel.com/400/250" alt="" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="l-highlight l-highlight--secondary">
              <img class="c-highlight__image" src="http://lorempixel.com/400/250" alt="" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="l-highlight l-highlight--secondary">
              <img class="c-highlight__image" src="http://lorempixel.com/400/250" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
