<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="l-frame c-visor">
    <div class="l-main-content">
      <div class="container">
        <header class="c-header l-header l-main-header">
          <div class="row l-header__row">
            <div class="col-xs-1 l-header__col">
              <img src="/pictures/logo_header.png" alt="" class="c-header__logo">
            </div>
            <div class="col-xs-3 l-header__col">
              <div class="l-header__logo-name">
                <p class="l-header__logo-name__content">
                  <b>Daniel Caldeira</b>
                  <br />
                  <span>designer gráfico</span>
                </p>
              </div>
            </div>
            <div class="col-xs-6 col-xs-offset-2 l-header__col pull-right">
              <div class="l-header__menu">
                <div class="row l-header__row c-header__menu c-header__menu--languages">
                  <div class="col-xs-4 col-xs-offset-8 l-header__col">
                    <nav class="c-header__menu">
                      <div class="c-header__menu-list menu-list row">
                        <div class="col-xs-6"><a class="c-header__menu-item menu-list__item has-separator">PT</a></div>
                        <div class="col-xs-6"><a class="c-header__menu-item menu-list__item">EN</a></div>
                      </div>
                    </nav>
                  </div>
                </div>
                <div class="row l-header__row c-header__menu c-header__menu--pages">
                    <nav class="c-header__menu">
                        <div class="col-xs-4">
                          <a class="c-header__menu-item menu-list__item">Projetos</a>
                        </div>
                        <div class="col-xs-4">
                          <a class="c-header__menu-item menu-list__item">Sobre Mim</a>
                        </div>
                        <div class="col-xs-4">
                          <a class="c-header__menu-item menu-list__item">Contactos</a>
                        </div>
                    </nav>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="row">
          <div class="col-xs-12">
            <div class="l-highlight l-highlight--primary">
              <div class="c-highlight__cover">
                <div class="c-highlight__cover__content"></div>
              </div>
              <img class="c-highlight__image" src="http://lorempixel.com/1110/480" alt="" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="l-highlight l-highlight--secondary">
              <div class="c-highlight__cover">
                <div class="c-highlight__cover__content"></div>
              </div>
              <img class="c-highlight__image" src="http://lorempixel.com/400/250" alt="" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="l-highlight l-highlight--secondary">
              <div class="c-highlight__cover">
                <div class="c-highlight__cover__content"></div>
              </div>
              <img class="c-highlight__image" src="http://lorempixel.com/400/250" alt="" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="l-highlight l-highlight--secondary">
              <div class="c-highlight__cover">
                <div class="c-highlight__cover__content"></div>
              </div>
              <img class="c-highlight__image" src="http://lorempixel.com/400/250" alt="" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="l-highlight l-highlight--secondary">
              <div class="c-highlight__cover">
                <div class="c-highlight__cover__content"></div>
              </div>
              <img class="c-highlight__image" src="http://lorempixel.com/400/250" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
