<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <div class="l-frame c-visor">
    <div class="l-main-content">
      <div class="container">
        <% include ../partials/header.ejs %>
        <div class="row">
          <div class="col-xs-12">
            <div class="l-highlight l-highlight--primary">
              <div class="c-highlight__cover">
                <div class="c-highlight__cover__content">
                  <h2 class="c-highlight__cover__title">Title</h2>
                  <h4 class="c-highlight__cover__subtitle">Subtitle</h4>
                  <hr class="c-highlight__cover__line">
                </div>
              </div>
              <img class="c-highlight__image" src="http://lorempixel.com/1110/480" alt="" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <% include ../partials/headline.ejs %>
          </div>
          <div class="col-xs-12 col-sm-6">
            <% include ../partials/headline.ejs %>
          </div>
          <div class="col-xs-12 col-sm-6">
            <% include ../partials/headline.ejs %>
          </div>
          <div class="col-xs-12 col-sm-6">
            <% include ../partials/headline.ejs %>
          </div>
        </div>
        <% include ../partials/footer.ejs %>
      </div>
    </div>
  </div>
</body>
</html>
